.contents.row
  .container
    = form_tag('/posts', method: :post) do
      %h3
        投稿する
      %input{:autofocus => "true", :name => "image", :placeholder => "Image Url", :type => "text"}/
      %textarea{:name => "theme", :placeholder => "text", :rows => "10"}
      %input{:type => "submit", :value => "SENT"}/
