.other_find_userpage2{
  margin-top: 10px;
  text-align: right;
  padding-right: 10%;
  font-size: 18px;
  margin-left: calc(100% - 10% - 162px);
}
.other_find_userpage{
  margin-top: 10px;
  text-align: right;
  padding-right: 10%;
  font-size: 18px;
  margin-left: calc(100% - 10% - 90px);
}
.user_create_theme_all{
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
}